[submodule "quicklook_sources"]
	path = image_sources/quicklook/sources
	url = git@github.com:quba42/quicklook.git
[submodule "flexpart_sources"]
	path = alpendac_prototype/sources
	url = git@github.com:quba42/flexpart.git
